#navbar-iframe {
	height:0;
	visibility:hidden;
	display:none
}
body {
	background:#fff;
	color:#333;
	font:x-small Georgia Serif;
	font-size:small;
	text-align:left;
	margin:0
}
ul,ol {
	list-style:none;
	padding:0;
	margin:0
}
a:link {
	color:#878773;
	text-decoration:none
}
a:visited {
	color:#878773;
	text-decoration:none
}
a:hover {
	color:#ccc;
	text-decoration:underline
}
a img {
	border-width:0
}
body#layout .footer {
	width:25%;
	float:left;
}
body#layout #header-wrapper {
	width:1220px;
	margin:76px auto;
}
.selectnav {
	display:none;
}
#headerpic-wrapper {
	background:#31353D;
	width:100%;
	margin:0 auto;
	padding:0;
	height:76px;
}
#header-wrapper {
	width:1220px;
	margin:0 auto
}
#header-inner {
	background-position:center;
	margin-left:auto;
	margin-right:auto;
}
#header {
	float:left;
	width:480px;
	text-align:left;
	margin:0;
	letter-spacing:1px;
	color:#f15f43;
}
#header2 {
	float:right;
	width:468px;
	margin-right:10px;
	text-align:left;
	color:#555
}
.header .widget,.header2 .widget {
	margin:0 auto;
	padding:5px 0
}
#header h1,#header p {
	line-height:1.4em;
	text-transform:uppercase;
	font:bold 34px Oswald;
	margin:0 auto;
	padding:5px;
}
#header a {
	color:#eee;
	text-decoration:none
}
#header a:hover {
	color:#D20000
}
#header .description {
	max-width:100%;
	text-transform:none;
	line-height:1.4em;
	font:bold 14px Arial;
	margin:0 auto;
	padding:0 5px 5px;
	color:#aaa;
	text-shadow:0px 3px 8px #2a2a2a;
	letter-spacing:0;
}
#header img {
	padding-top:55px;
}
#menu-wrapper {
	background:#EAEAEB;
	width:1220px;
	padding:0 0 0;
	margin:5px auto auto auto;
	min-height:43px;
}
.menu,.menu ul,.menu li,.menu a {
	border:none;
	outline:none;
	margin:0 auto;
	padding:0;
	z-index:999
}
li.active {
	background:#F15F43;
	color:#fff;
}
.menu li.active>a {
	color:#fff;
}
.menu li:hover {
	background:#F15F43;
}
.menu li:hover>a {
	color:#fff;
}
.menu li:last-child {
	border-right:none
}
.menu li {
	position:relative;
	list-style:none;
	float:left;
	display:block;
}
.menu li a {
	display:block;
	text-decoration:none;
	padding:12px 20px 12px 20px;
	font:normal 20px/22px Contrail One;
	color:#ffffff;
	background-repeat:no-repeat;
	background-position:0 0;
	background-position-y:10px;
	text-transform:uppercase;
	color:#31353d;
	font:600 14px "Open Sans",Georgia,sans-serif;
}
.menu li:first-child a {
	background-image:none;
}
.menu li:hover>a {
	color:#fff
}
.menu ul {
	position:absolute;
	left:0;
	opacity:0;
	background:#EAEAEB;
	width:280px;
	border:none;
	-webkit-transition:opacity .25s ease .1s;
	-moz-transition:opacity .25s ease .1s;
	-o-transition:opacity .25s ease .1s;
	-ms-transition:opacity .25s ease .1s;
	transition:opacity .25s ease .1s;
}
.menu li:hover>ul {
	opacity:1
}
.menu ul li {
	height:0;
	overflow:hidden;
	-webkit-transition:height .25s ease .1s;
	-moz-transition:height .25s ease .1s;
	-o-transition:height .25s ease .1s;
	-ms-transition:height .25s ease .1s;
	transition:height .25s ease .1s;
	padding:0
}
.menu li:hover>ul li {
	height:36px;
	overflow:visible;
	padding:0
}
.menu ul li a {
	color:#31353d;
	font-weight:400;
	width:112px;
	margin:0;
	padding:8px 14px 6px 14px;
	text-shadow:none;
	background-image:none;
}
.menu ul li:first-child a {
	padding:6px 14px 6px 14px
}
.menu ul li:last-child a {
	border:none
}
.menu ul li a {
	border:none
}
#outer-wrapper {
	width:1220px;
	text-align:left;
	font:12px Arial;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
#main-wrapper {
	width:862px;
	float:left;
	word-wrap:break-word;
	overflow:hidden
}
#sidebar-wrapper,#sidebar1-wrapper {
	width:352px;
	float:right;
	word-wrap:break-word;
	overflow:hidden;
	margin:5px 0 0 0;
}
h2 {
	line-height:1.4em;
	text-transform:none;
	color:#333;
	margin:.5em 0 .25em
}
h3.date-header {
	text-transform:none;
	font:normal 12px Arial;
	color:#999;
	line-height:1.2em;
	margin:.1em 0
}
.post {
	margin:0;
	padding:5px 0px
}
.post h1,.post h2 {
	font:22px Oswald;
	line-height:1.4em;
	color:#111;
	margin:0;
	padding:0;
	height:64px
}
.post h1 a,.post h1 a:visited,.post h1 strong,.post h2 a,.post h2 a:visited,.post h2 strong {
	display:block;
	text-decoration:none;
	color:#111
}
.post h1 strong,.post h1 a:hover,.post h2 strong,.post h2 a:hover {
	color:#888
}
.post-body {
	margin:0 0 0em;
	text-align:justify;
	font:18px PT Sans Narrow;
	line-height:1.3em;
}
.post-body blockquote {
	line-height:1.3em
}
.post-footer {
	color:#666;
	text-transform:none;
	letter-spacing:.01em;
	font:12px Arial;
	line-height:1.4em;
	margin:0em 0
}
.comment-link {
	margin-left:.1em
}
.post blockquote {
	margin:10px 10px 10px 20px;
	padding:10px 15px 10px 15px;
	line-height:1.6em;
	color:#333;
	background:#eee;
	border-left:20px solid #ccc
}
.post blockquote p {
	margin:.75em 0
}
.clear {
	clear:both
}
#blog-pager {
	clear:both;
	text-align:center;
	padding:10px 0 0 0;
	width:862px;
}
#blog-pager-older-link a,#blog-pager-newer-link a,a.home-link {
	width:80px;
	text-align:center;
	display:inline-block;
	color:#333;
	border:1px solid #C4C4C4;
	border-top-color:#E4E4E4;
	border-left-color:#E4E4E4;
	color:#424242 !important;
	text-align:center;
	text-shadow:0 -1px 0 white;
	text-decoration:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#EDEDED;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5) );
	background:-moz-linear-gradient( center top,white 20%,#E5E5E5 100% );
	font:bold 12px Arial;
	text-transform:none;
	margin:0 0px;
	padding:8px 5px;
}
.feed-links {
	clear:both;
	line-height:2.5em
}
.sidebar h2 {
	font:18px Oswald;
	color:#333;
	margin:0;
	padding:10px 0 5px 10px;
}
.sidebar {
	color:#666;
	line-height:1.3em;
	border-top:none;
	font:11px Tahoma;
	text-shadow:1px 1px 1px #fff
}
.sidebar li {
	line-height:1.3em;
	margin:0;
	padding:5px 0 4px;
	border-top:1px solid #ddd
}
.sidebar .widget {
	background:url(http://livedemo00.template-help.com/wordpress_44493/wp-content/themes/theme2093/images/quote-tail.png);
	margin:5px 0 0px;
	padding:0
}
.sidebar .widget-content {
	margin:0 auto;
	padding:0 10px;
}
.sidebar a:link,.sidebar a:visited {
	font:12px Oswald;
	color:#111;
	text-decoration:none;
}
.sidebar li a:hover {
	color:#878773
}
.sidebar ul {
	list-style:none;
	margin:0;
	padding:5px 0
}
.sidebar1 ul {
	list-style:none;
	padding:0;
	margin:0;
}
.sidebar1 .widget {
	margin:0px 0px 20px;
	padding:0
}
#Label1 li {
	float:left;
	width: 50%
}
/* Comments ----------------------------------------------- */
.comments {
	margin:10px 0;
	padding:10px 15px;
	border:1px solid #ccc;
	line-height:1em;
}
.comments .comments-content {
	font-size:12px;
	margin-bottom:16px;
	font-weight:normal;
	text-align:left;
	line-height:1.4em;
}
.comments .comment .comment-actions a {
	display:inline-block;
	margin:0;
	padding:1px 6px;
	border:1px solid #C4C4C4;
	border-top-color:#E4E4E4;
	border-left-color:#E4E4E4;
	color:#424242 !important;
	text-align:center;
	text-shadow:0 -1px 0 white;
	text-decoration:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#EDEDED;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5) );
	background:-moz-linear-gradient( center top,white 20%,#E5E5E5 100% );
	font:11px/18px sans-serif;
	padding:2px 8px;
	margin-right:10px;
}
.comments .comment .comment-actions a:hover {
	text-decoration:none;
	background:#fff;
	border:1px solid #5AB1E2;
}
.comments .comments-content .comment-thread ol {
	list-style-type:none;
	padding:0;
	text-align:none;
}
.comments .comments-content .inline-thread {
	padding:0.5em 1em;
}
.comments .comments-content .comment-thread {
	margin:8px 0;
}
.comments .comments-content .comment-thread:empty {
	display:none;
}
.comments .comments-content .comment-replies {
	margin-top:1em;
	margin-left:40px;
	font-size:12px;
	background:#f6f6f6;
}
.comments .comments-content .comment {
	margin-bottom:16px;
	padding-bottom:8px;
}
.comments .comments-content .comment:first-child {
	padding-top:16px;
}
.comments .comments-content .comment:last-child {
	border-bottom:0;
	padding-bottom:0;
}
.comments .comments-content .comment-body {
	position:relative;
}
.comments .comments-content .user {
	font-style:normal;
	font-weight:bold;
}
.comments .comments-content .user a {
	color:#2D5E7B;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.comments .comments-content .icon.blog-author {
	width:18px;
	height:18px;
	display:inline-block;
	margin:0 0 -4px 6px;
}
.comments .comments-content .datetime {
	color:#999999;
	float:right;
	font-size:11px;
	text-decoration:none;
}
.comments .comments-content,.comments .comments-content .comment-content {
	margin:0 0 8px;
}
.comment-header {
	background-color:#F4F4F4;
	border:thin solid #E6E6E6;
	margin-bottom:5px;
	padding:5px;
}
.comments .comments-content .comment-content {
	text-align:none;
}
.comments .comments-content .owner-actions {
	position:absolute;
	right:0;
	top:0;
}
.comments .comments-replybox {
	border:none;
	height:250px;
	width:100%;
}
.comments .comment-replybox-single {
	margin-top:5px;
	margin-left:48px;
}
.comments .comment-replybox-thread {
	margin-top:5px;
}
.comments .comments-content .loadmore a {
	display:block;
	padding:10px 16px;
	text-align:center;
}
.comments .thread-toggle {
	cursor:pointer;
	display:inline-block;
}
.comments .continue {
	cursor:pointer;
}
.comments .continue a {
	display:inline-block;
	margin:0;
	padding:1px 6px;
	border:1px solid #C4C4C4;
	border-top-color:#E4E4E4;
	border-left-color:#E4E4E4;
	color:#424242 !important;
	text-align:center;
	text-shadow:0 -1px 0 white;
	text-decoration:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#EDEDED;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5) );
	background:-moz-linear-gradient( center top,white 20%,#E5E5E5 100% );
	font:11px/18px sans-serif;
	padding:2px 8px;
	margin-right:10px;
}
.comments .comments-content .loadmore {
	cursor:pointer;
	max-height:3em;
	margin-top:3em;
}
.comments .comments-content .loadmore.loaded {
	max-height:0;
	opacity:0;
	overflow:hidden;
}
.comments .thread-chrome.thread-collapsed {
	display:none;
}
.comments .thread-toggle {
	display:inline-block;
}
.comments .thread-toggle .thread-arrow {
	display:inline-block;
	height:6px;
	width:7px;
	overflow:visible;
	margin:0.3em;
	padding-right:4px;
}
.comments .thread-expanded .thread-arrow {
	background:url(http://4.bp.blogspot.com/-fhTZlJkFnPc/UQezZ0aM1ZI/AAAAAAAABcY/v1vUibnXaKc/s1600/arrow-down.png) no-repeat scroll 0 0 transparent;
}
.comments .thread-collapsed .thread-arrow {
	background:url(http://4.bp.blogspot.com/-WwOfybPl9ig/UQezafv_uNI/AAAAAAAABcg/uLkQHEqKKBM/s1600/arrow-right.png) no-repeat scroll 0 0 transparent;
}
.comments .avatar-image-container {
	background-image:url(http://4.bp.blogspot.com/-MXCdgmCfwRc/UQezaV_MLdI/AAAAAAAABck/N-dsAOjgvtk/s1600/avatar.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	width:36px;
	max-height:36px;
	margin:0;
	outline:1px solid #FFFFFF;
	padding:3px;
	vertical-align:middle;
	overflow:hidden;
	border:1px solid #DDDDDD;
}
.comments .avatar-image-container img {
	width:36px;
}
.comments .comment-block {
	margin-left:48px;
	position:relative;
}
@media screen and (max-device-width:480px) {
	.comments .comments-content .comment-replies {
		margin-left:0;
	}
}
.footer h2 {
	font:21px Oswald;
	padding-bottom:5px;
	margin-bottom:5px;
	line-height:1.3em;
	color:#F15F43;
}
.footer {
	color:#eee;
	line-height:1.4em;
	font:normal 11px Tahoma;
}
.footer ul {
	list-style:none;
	color:#ddd;
	margin:0;
	padding:0
}
.footer .Label li {
	background:url(http://livedemo00.template-help.com/wt_49053/images/list_marker.png) 0px 5px no-repeat;
	font:normal 12px Tahoma;
	color:#626262;
	text-indent:0;
	line-height:1.2em;
	font-size:15px;
	margin:0;
	padding:2px 0 3px 16px;
}
.footer li {
	font:normal 12px Tahoma;
	color:#626262;
	text-indent:0;
	line-height:1.2em;
	font-size:15px;
	margin:0;
	padding:2px 0 3px 16px;
}
.footer a:link,.footer li a:visited {
	color:#eee;
	text-decoration:none
}
.footer li a:hover {
	color:#F15F43
}
.footer .widget {
	margin:0 0 8px;
	padding:6px 0
}
.footer .widget-content {
	padding:0
}
.picfooter {
	background:#30353D;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font:normal normal 11px Arial
}
#footer-wrapper {
	width:1220px;
	text-align:left;
	font:normal normal 11px Arial;
	margin:0 auto;
	padding:0 10px 10px
}
#footer1-wrapper {
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden
}
#footer2-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden;
	padding:0 5px
}
#footer3-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden;
	padding:0 5px
}
#footer4-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden;
	padding:0 5px
}
#footer5-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden
}
.creditpic {
	background:#30353D;
	width:100%;
	border-top:1px solid #212121;
	margin:0 auto;
	padding:0;
}
.credit {
	width:1100px;
	line-height:1.6em;
	text-align:center;
	font-family:Arial;
	font-size:12px;
	color:#ddd;
	overflow:hidden;
	clear:both;
	margin:0 auto;
	padding:10px
}
.credit a:link,.credit a:visited {
	color:#ddd;
	text-decoration:none
}
.credit a:hover {
	color:#fff;
	text-decoration:none
}
#related-posts {
	float:left;
	width:auto;
	border-top:3px solid #ddd;
	margin-top:10px
}
#related-posts h3 {
	background:none;
	font:20px Oswald;
	padding:3px;
	color:#F15F43
}
#related-posts .maskolis_img {
	;
	padding:0px 0px;
	width:172px;
	height:220px;
	transition:all 400ms ease-in-out;
	-webkit-transition:all 400ms ease-in-out;
	-moz-transition:all 400ms ease-in-out;
	-o-transition:all 400ms ease-in-out;
	-ms-transition:all 400ms ease-in-out;
	margin:10px 7px 5px
}
#related-posts .maskolis_img:hover {
	opacity:.7;
	filter:alpha(opacity=70);
	-moz-opacity:.7;
	-khtml-opacity:.7
}
#viewers {
	background:#;
	float:left;
	width:100%;
	font:normal 12px Arial;
	margin:0;
	padding:5px 0 10px
}
.newsfea {
	margin:0 4px 2px 0;
}
.newscrott {
	padding:5px 8px 7px 8px;
	background:#31353d;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font:600 15px/20px 'Open Sans',Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
}
#judul-post {
	border-bottom:1px solid #ddd;
	margin-bottom:5px;
	padding-left:0
}
.bungkus-tanggal {
	background:#31353D;
	float:left;
	margin-right:10px
}
.setiap-hari {
	width:auto;
	height:auto;
	text-align:left;
	text-transform:uppercase;
	padding:5px 10px 10px
}
.nama-hari {
	color:#fff;
	font:20px Oswald
}
.nama-bulan {
	font:11px Tahoma;
	color:#fff
}
.sompret-image {
	text-align:left;
	width:170px;
	height:250px;
	position:relative;
	line-height:1.6em;
	overflow:hidden;
	margin:0
}
.sompret-image img {
	position:absolute;
	min-height:250px;
	max-width:170px
}
.sompret-image a {
	display:block;
	position:relative;
	overflow:hidden;
	height:250px;
	width:170px;
	color:#878773
}
.sompret-image a:hover {
	text-decoration:none
}
.summary {
	font:13px Tahoma;
	color:#666;
	margin:0 10px;
	padding:3px 0
}
.sompret-header {
	font:18px oswald;
	text-transform:uppercase;
	margin:10px;
	color:#F15F43;
}
.sompret-footer {
	font:italic 12px Arial;
	margin:10px
}
#sliderTimer-wrapper {
	width:1259px;
	padding:0 10px 10px 0;
	margin:0 auto
}
#sliderTimer-header li a.active {
	background:#878773;
	text-shadow:0 1px 0 rgba(0,0,0,.2);
	color:#fff
}
#sliderTimer-header li a.active div.carouselProgress {
	display:block;
	background:#d10110
}
.sliderTimer-item {
	position:absolute;
	top:0;
	left:0;
	height:500px;
	width:1259px;
	display:none;
	padding:0
}
#sliderTimer h2 a {
	font:normal 20px Oswald;
	color:#fff;
	line-height:1.1em
}
#sliderTimer a.carousel_link span {
	background:#d10110;
	display:block;
	color:#fff;
	float:right;
	padding:7px 10px
}
#sliderTimer {
	position:relative;
	height:500px;
	overflow:hidden
}
#sliderTimer-header {
	height:32px;
	border-bottom:4px solid #878773;
	border-top:1px solid #878773;
	padding:0
}
#sliderTimer-header li {
	display:inline;
	list-style:none
}
#sliderTimer-header li a {
	display:block;
	text-shadow:1px 1px 1px #fff;
	height:32px;
	float:left;
	line-height:32px;
	text-decoration:none;
	color:#333;
	font-size:14px;
	font-style:tahoma;
	position:relative;
	padding:0
}
#sliderTimer-header li a div.carouselProgress {
	display:none;
	height:4px;
	background:transparent;
	width:0;
	position:absolute;
	bottom:-4px;
	left:0;
	margin:0
}
#sliderTimer-header li a .carouselHeaderContent {
	padding:0 15px
}
.sliderTimer-item .infos {
	background:transparent url(http://4.bp.blogspot.com/-bp2HK6MdDXg/T5aB6vI5GPI/AAAAAAAAF98/gwCsmb8Fcks/s1600/transparant.png);
	width:200px;
	height:300px;
	z-index:9;
	position:absolute;
	padding:10px 10px 0
}
.sliderTimer-item h3 {
	font-size:20px;
	line-height:20px;
	color:#1b1b1b;
	font-weight:700;
	margin-bottom:10px
}
.sliderTimer-item p {
	font-size:12px;
	color:#fff;
	line-height:16px;
	width:200px
}
.sliderTimer-item ul {
	margin-top:0;
	position:absolute;
	bottom:10px;
	width:1259px
}
.sliderTimer-item ul li {
	display:inline
}
.sliderTimer-item ul li a {
	line-height:1.3em;
	display:block;
	font-size:15px;
	font-weight:700;
	color:#fff;
	float:left;
	text-decoration:none;
	margin-bottom:10px;
	padding:0 10px
}
.sliderTimer-item .attachment-post-thumbnail,.sliderTimer-item .attachment-full {
	position:absolute;
	right:0;
	top:0;
	z-index:-1
}
.sliderTimer-item .attachment-full img {
	width:1259px;
	height:auto;
	overflow:hidden;
	margin-top:-20%
}
#sliderTimer-header li a.active span.carouselHeaderDecorator,#sliderTimer .active {
	display: block
}
/* Slider */
.sompret-wrapper {
	float:right;
	position:relative;
}
.sompret {
	overflow:hidden;
	position:relative;
	width:310px;
	height:400px;
}
.image_reel {
	position:absolute;
	top:0;
	left:0;
}
.image_reel img {
	overflow:hidden;
	float:left;
	width:310px;
	height:auto;
}
.paging {
	background:#373737;
	border:1px solid #676756;
	padding:4px 0 2px;
	text-align:right;
	z-index:100;
}
.paging a {
	text-indent:-9999px;
	background:url(http://3.bp.blogspot.com/-_RkTTrabRbs/UQWYmksVCYI/AAAAAAAABaU/3vvF1qFSAYI/s1600/slider_item.png) no-repeat center;
	width:10px;
	height:10px;
	display:inline-block;
	margin:3px;
	border:none;
	outline:none;
}
.paging a.active {
	background:url(http://4.bp.blogspot.com/-b9OEmVdL6Q4/URA_BL7OXWI/AAAAAAAAB2k/c9exOQaNu2U/s1600/slider_item_active.png) no-repeat center;
	border:none;
	outline:none;
}
.paging a:hover {
	font-weight:bold;
	border:none;
	outline:none;
}
.crott {
	width:290px;
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	z-index:101;
	background:url(http://4.bp.blogspot.com/-PpOJ-vHwxvc/T5mGXWpHVCI/AAAAAAAAAqQ/Y1VmLDvoeHI/s1600/uj-opacity-40.png);
	padding:5px 10px;
}
.crott a {
	color:#fff;
	font:16px Oswald
}
.crott p {
	color:#fff;
	font:12px Arial;
}
.paginator {
	margin-top:10px;
	font-size:1em
}
.paginator table {
	border-collapse:collapse;
	table-layout:fixed;
	width:100%
}
.paginator table td {
	white-space:nowrap;
	text-align:center;
	padding:0
}
.paginator span {
	display:block;
	color:#fff;
	padding:3px 0
}
.paginator span strong,.paginator span a {
	padding:2px 6px
}
.paginator span strong {
	background:#F15F43;
	font-style:normal;
	font-weight:400
}
.paginator .scroll_bar {
	width:100%;
	height:20px;
	position:relative;
	margin-top:10px
}
.paginator .scroll_trough {
	width:100%;
	height:3px;
	background:#ccc;
	overflow:hidden
}
.paginator .scroll_thumb {
	position:absolute;
	z-index:2;
	width:0;
	height:3px;
	top:0;
	left:0;
	font-size:1px;
	background:#363636
}
.paginator .scroll_knob {
	position:absolute;
	top:-5px;
	left:50%;
	margin-left:-10px;
	width:20px;
	height:20px;
	overflow:hidden;
	background:url(http://3.bp.blogspot.com/_McxL-_3YYuM/TBG843o8-TI/AAAAAAAAAAM/tAE1hAOX6Ys/s1600/slider_knob.gif) no-repeat 50% 50%;
	cursor:hand
}
.paginator .current_page_mark {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:0;
	height:3px;
	overflow:hidden;
	background:#F15F43
}
.fullsize .scroll_thumb {
	display:none
}
.paginator_pages {
	width:600px;
	text-align:right;
	font-size:.8em;
	color:gray;
	margin-top:-10px
}
.PopularPosts .item-thumbnail img {
	float:right;
	width:80px;
	height:105px;
	margin:0;
}
.quickedit {
	display:none
}
div#footerz .PopularPosts .item-thumbnail img {
	float:right;
	width:170px;
	height:250px;
	margin:0;
}
div#footerz .item-title,div#footerz .item-snippet {
	display:none;
}
div#footerz .PopularPosts .widget-content ul li {
	padding:0;
	width:170px;
	float:left;
	margin-right:3px;
}
.sidebar1 h2 {
	padding:5px 8px 7px 8px;
	background:#f15f43;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font:600 15px/20px 'Open Sans',Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin-top:0px;
}
div#sidebar1-wrapper li {
	display:block;
	margin-bottom:0px;
	padding:10px;
	background:#f5f5f5;
	overflow:hidden;
}
div#sidebar1-wrapper li:nth-child(2n) {
	background:#fcfcfc;
}
div#footerz .PopularPosts .widget-content ul li:nth-child(4n+4) {
	margin-right:0px;
}
div#sidebar1-wrapper .Label li a {
	color:#231f20;
	text-decoration:none;
	font:300 15px/20px 'Open Sans',Arial,sans-serif;
	background:url(http://livedemo00.template-help.com/wt_49053/images/list_marker.png) 0px 5px no-repeat;
	padding-left:29px;
	text-transform:uppercase;
}
div#footerz h2 {
	padding:5px 8px 7px 8px;
	background:#31353D;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font:600 15px/20px 'Open Sans',Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin-top:0px;
	width:100%;
}
input#q {
	width:100%;
	float:left;
	color:#858a94;
	font:14px/20px Arial,Helvetica,sans-serif;
	height:43px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:17px 65px 17px 20px;
	box-shadow:none;
	-webkit-appearance:none;
	resize:none;
	outline:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#3f424a;
	border:1px solid #3f424a;
	overflow:hidden;
	display:inline-block;
	border-radius:1px;
}
.menusearch {
	padding-top: 0;
}
