body {
	background:#fff;
	color:#333;
	font:x-small Georgia Serif;
	font-size:small;
	text-align:left;
	margin:0
}
ul {
	list-style:none;
	padding:0;
	margin:0
}
a:link {
	color:#878773;
	text-decoration:none
}
a:visited {
	color:#878773;
	text-decoration:none
}
a:hover {
	color:#ccc;
	text-decoration:underline
}
a img {
	border-width:0
}
#headerpic-wrapper {
	background:#31353D;
	width:100%;
	margin:0 auto;
	padding:0;
	height:76px;
}
#header-wrapper {
	width:1220px;
	margin:0 auto
}
#header-inner {
	background-position:center;
	margin-left:auto;
	margin-right:auto;
}
#header {
	float:left;
	width:480px;
	text-align:left;
	margin:0;
	letter-spacing:1px;
	color:#f15f43;
}
.header .widget {
	margin:0 auto;
	padding:5px 0
}
#header h1,#header p {
	line-height:1.4em;
	text-transform:uppercase;
	font:bold 34px Oswald;
	margin:0 auto;
	padding:5px;
}
#header a {
	color:#eee;
	text-decoration:none
}
#header a:hover {
	color:#D20000
}
#header .description {
	max-width:100%;
	text-transform:none;
	line-height:1.4em;
	font:bold 14px Arial;
	margin:0 auto;
	padding:0 5px 5px;
	color:#aaa;
	text-shadow:0px 3px 8px #2a2a2a;
	letter-spacing:0;
}
#menu-wrapper {
	background:#EAEAEB;
	width:1220px;
	padding:0 0 0;
	margin:5px auto auto auto;
	min-height:43px;
}
.menu,.menu ul,.menu li,.menu a {
	border:none;
	outline:none;
	margin:0 auto;
	padding:0;
	z-index:999
}
li.active {
	background:#F15F43;
	color:#fff;
}
.menu li.active>a {
	color:#fff;
}
.menu li:hover {
	background:#F15F43;
}
.menu li:hover>a {
	color:#fff;
}
.menu li:last-child {
	border-right:none
}
.menu li {
	position:relative;
	list-style:none;
	float:left;
	display:block;
}
.menu li a {
	display:block;
	text-decoration:none;
	padding:12px 20px 12px 20px;
	font:normal 20px/22px Contrail One;
	color:#ffffff;
	background-repeat:no-repeat;
	background-position:0 0;
	background-position-y:10px;
	text-transform:uppercase;
	color:#31353d;
	font:600 14px "Open Sans",Georgia,sans-serif;
}
.menu li:first-child a {
	background-image:none;
}
.menu li:hover>a {
	color:#fff
}
.menu ul {
	position:absolute;
	left:0;
	opacity:0;
	background:#EAEAEB;
	width:280px;
	border:none;
	-webkit-transition:opacity .25s ease .1s;
	-moz-transition:opacity .25s ease .1s;
	-o-transition:opacity .25s ease .1s;
	-ms-transition:opacity .25s ease .1s;
	transition:opacity .25s ease .1s;
}
.menu li:hover>ul {
	opacity:1
}
.menu ul li {
	height:0;
	overflow:hidden;
	-webkit-transition:height .25s ease .1s;
	-moz-transition:height .25s ease .1s;
	-o-transition:height .25s ease .1s;
	-ms-transition:height .25s ease .1s;
	transition:height .25s ease .1s;
	padding:0
}
.menu li:hover>ul li {
	height:36px;
	overflow:visible;
	padding:0
}
.menu ul li a {
	color:#31353d;
	font-weight:400;
	width:112px;
	margin:0;
	padding:8px 14px 6px 14px;
	text-shadow:none;
	background-image:none;
}
.menu ul li:first-child a {
	padding:6px 14px 6px 14px
}
.menu ul li:last-child a {
	border:none
}
.menu ul li a {
	border:none
}
#outer-wrapper {
	width:1220px;
	text-align:left;
	font:12px Arial;
	margin:0 auto;
	padding:0;
	overflow:hidden;
}
#main-wrapper {
	width:790px;
	float:left;
	word-wrap:break-word;
	overflow:hidden
}
#sidebar1-wrapper {
	width:352px;
	float:right;
	word-wrap:break-word;
	overflow:hidden;
}
h2 {
	line-height:1.4em;
	text-transform:none;
	color:#333;
	margin:.5em 0 .25em
}
.post {
	margin:10px 0;
	padding:10px 0px
}
.post h2 {
	font:22px Oswald;
	line-height:1.4em;
	color:#111;
	margin:0;
	padding:0;
	height:70px
}
.post h2 a,.post h2 a:visited {
	display:block;
	text-decoration:none;
	color:#111
}
.post h2 a:hover {
	color:#888
}
.post-body {
	margin:0 0 0em;
	text-align:justify;
	font:18px PT Sans Narrow;
	line-height:1.3em;
}
.clear {
	clear:both
}
#blog-pager {
	clear:both;
	text-align:center;
	padding:10px 0 0 0;
	width:862px;
}
a.home-link {
	width:80px;
	text-align:center;
	display:inline-block;
	color:#333;
	border:1px solid #C4C4C4;
	border-top-color:#E4E4E4;
	border-left-color:#E4E4E4;
	color:#424242 !important;
	text-align:center;
	text-shadow:0 -1px 0 white;
	text-decoration:none;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background:#EDEDED;
	background:-webkit-gradient( linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5) );
	background:-moz-linear-gradient( center top,white 20%,#E5E5E5 100% );
	font:bold 12px Arial;
	text-transform:none;
	margin:0 0px;
	padding:8px 5px;
}
.sidebar1 ul {
	list-style:none;
	padding:0;
	margin:0;
}
.sidebar1 .widget {
	margin:0px 0px 20px;
	padding:0
}
#Label1 li {
	float:left;
	width: 50%
}
/* Comments ----------------------------------------------- */
.comments {
	margin:10px 0;
	padding:10px 15px;
	border:1px solid #ccc;
	line-height:1em;
}
.footer h2 {
	font:21px Oswald;
	padding-bottom:5px;
	margin-bottom:5px;
	line-height:1.3em;
	color:#F15F43;
}
.footer {
	color:#eee;
	line-height:1.4em;
	font:normal 11px Tahoma;
}
.footer ul {
	list-style:none;
	color:#ddd;
	margin:0;
	padding:0
}
.footer .Label li {
	background:url(http://livedemo00.template-help.com/wt_49053/images/list_marker.png) 0px 5px no-repeat;
	font:normal 12px Tahoma;
	color:#626262;
	text-indent:0;
	line-height:1.2em;
	font-size:15px;
	margin:0;
	padding:2px 0 3px 16px;
}
.footer li {
	font:normal 12px Tahoma;
	color:#626262;
	text-indent:0;
	line-height:1.2em;
	font-size:15px;
	margin:0;
	padding:2px 0 3px 16px;
}
.footer a:link,.footer li a:visited {
	color:#eee;
	text-decoration:none
}
.footer li a:hover {
	color:#F15F43
}
.footer .widget {
	margin:0 0 8px;
	padding:6px 0
}
.footer .widget-content {
	padding:0
}
.picfooter {
	background:#30353D;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font:normal normal 11px Arial
}
#footer-wrapper {
	width:1220px;
	text-align:left;
	font:normal normal 11px Arial;
	margin:0 auto;
	padding:0 10px 10px
}
#footer1-wrapper {
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden
}
#footer2-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden;
	padding:0 5px
}
#footer3-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden;
	padding:0 5px
}
#footer4-wrapper {
	margin-left:5px;
	width:24%;
	float:left;
	word-wrap:break-word;
	overflow:hidden;
	padding:0 5px
}
.creditpic {
	background:#30353D;
	width:100%;
	border-top:1px solid #212121;
	margin:0 auto;
	padding:0;
}
.credit {
	width:1100px;
	line-height:1.6em;
	text-align:center;
	font-family:Arial;
	font-size:12px;
	color:#ddd;
	overflow:hidden;
	clear:both;
	margin:0 auto;
	padding:10px
}
.credit a:link,.credit a:visited {
	color:#ddd;
	text-decoration:none
}
.credit a:hover {
	color:#fff;
	text-decoration:none
}
/* Slider */
.PopularPosts .item-thumbnail img {
	float:right;
	width:80px;
	height:105px;
	margin:0;
}
.quickedit {
	display:none
}
div#footerz .PopularPosts .item-thumbnail img {
	float:right;
	width:170px;
	height:250px;
	margin:0;
}
div#footerz .item-title,div#footerz .item-snippet {
	display:none;
}
div#footerz .PopularPosts .widget-content ul li {
	padding:.7em 0;
	width:170px;
	float:left;
	margin-right:30px;
}
.sidebar1 h2 {
	padding:5px 8px 7px 8px;
	background:#f15f43;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font:600 15px/20px 'Open Sans',Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin-top:0px;
}
div#sidebar1-wrapper li {
	display:block;
	margin-bottom:0px;
	padding:10px;
	background:#f5f5f5;
	overflow:hidden;
}
div#sidebar1-wrapper li:nth-child(2n) {
	background:#fcfcfc;
}
div#sidebar1-wrapper .Label li a {
	color:#231f20;
	text-decoration:none;
	font:300 15px/20px 'Open Sans',Arial,sans-serif;
	background:url(http://livedemo00.template-help.com/wt_49053/images/list_marker.png) 0px 5px no-repeat;
	padding-left:29px;
	text-transform:uppercase;
}
div#footerz h2 {
	padding:5px 8px 7px 8px;
	background:#31353D;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font:600 15px/20px 'Open Sans',Arial,sans-serif;
	color:#fff;
	text-transform:uppercase;
	margin-top:0px;
	width:100%;
}
input#q {
	width:100%;
	float:left;
	color:#858a94;
	font:14px/20px Arial,Helvetica,sans-serif;
	height:43px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:17px 65px 17px 20px;
	box-shadow:none;
	-webkit-appearance:none;
	resize:none;
	outline:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#3f424a;
	border:1px solid #3f424a;
	overflow:hidden;
	display:inline-block;
	border-radius:1px;
}
.menusearch {
	padding-top: 0;
}
